$color_1: white;
$background-color_1: #121212;

@import "https://fonts.googleapis.com/css2?family=Open+Sans&display=swap";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* You can add global styles to this file, and also import other style files */

body {
    padding: 0;
    margin: 0 !important;
    height: 100vh;
    display: flex;
}

* {
    font-family: cursive;
}

.logo {
    width: 50px;
    border-radius: 999px;
    border: none;
    outline: none;

    &:hover {
        outline: 3px solid #0dd868;
        transition: .1s ease-in-out;
        transform: scale(1.0004);
    }

}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.container {
    background: #E7E7E7;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    margin: 3px;

    textarea {
        background-color: $background-color_1;
        border: 1px solid #0dddf0;
        resize: none;
        width: 100%;
        height: 33.333%;
        font-size: 1.4rem;
        padding: 10px;
        resize: vertical;
        overflow-y: scroll;
        color: $color_1;

        &:focus {
            border: 3px solid #50f0ff;
            color: $color_1;
        }
    }
}

.iframe-container {
    background: white;
    width: 50%;
    height: 100vh;
    margin: 3px;
}

#viewer {
    width: 100%;
    height: 100%;
}

.split {
    width: 100%;
    height: 100%;
}

.gutter {
    cursor: e-resize;
    height: 100%;
    background: grey;
}

.gutter.gutter-horizontal {
    cursor: ew-resize;
}

#btn {
    background-color: #28a745;
    /* Green background color */
    color: #fff;
    /* White text color */
    padding: 10px 20px;
    /* Padding for the button */
    border: none;
    /* No border */
    border-radius: 4px;
    /* Rounded corners */
    cursor: pointer;
    margin: 2px;

    &:hover {
        cursor: pointer;
        transition: .2s ease-in-out;
        background-color: #218838;
    }
}