server:
  port: 8089

spring:
  profiles:
    active: local
  thymeleaf:
    check-template-location: true
    prefix: classpath:/templates/
    suffix: .html
    cache: false
  mvc:
    servlet:
      path: /
    static-path-pattern: /static/**
    hidden-method:
      filter:
        enabled: true
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/pro06
    username : root
    password: 1234

  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        default_batch_fetch_size: 1000
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MariaDB103Dialect
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 100MB
      location: C://upload
  messages:
    basename: messages
    encoding: UTF-8
    mail:
      host: smtp.naver.com
      port: 465
      username: xuanjiong810@naver.com
      password: --
      properties:
        mail.smtp.auth: true
        mail.smtp.ssl.enable: true
        mail.smtp.ssl.trust: smtp.naver.com
        mail.smtp.starttls.enable: true

logging:
  level:
    org:
      springframework: info
    com:
      member2: info
